
*{
    font-family: Roboto, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

table{
    margin-top: 100px;
    border-collapse: collapse;
    left: 29%;
    position: absolute;
    top: 0;
}

tr:nth-child(even){
    background-color: #f1f1f1;
}

tr, th, td{
    padding: 50px;
    border: 1px solid #ddd;
}


nav{
    position: absolute;
    top: 100px;
    color: white;
    left: 10px;
    width:95%;
    ul{
        list-style: none;
        background-color: #535865;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        gap: 10px;
        padding: 10px;
        
        li{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 20px 10px 10px;
            background-color: #696f83;
            width: 90%;
            
            a{
                position: absolute;
                left: 60px;
                color: white;
                padding: 22px 275px 22px 0;
                
            }
            
        }
    }
}

.logout{
    position: absolute;
    left: 10px;
    bottom: 50px;
    background-color: #696f83;
    width: 95%;
    color: white;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 10px;
    
    a{
        color: white;
        padding: 16px 290px 16px 0;
    }
}



aside{
    position: fixed;
    width: 25%;
    background-color: #2c2f36;
    height: 100%;
}



.userInfo{
    width: 75%;
   
  
    background-color: #535865;
    position: absolute;
    left: 11%;
    top: 20px;
    border-radius: 80px;
    
    background-image: url("./images/icons/account_circle_40dp_E3E3E3_FILL0_wght400_GRAD0_opsz40.svg");
    background-repeat: no-repeat;
    background-size: contain;
    
    h3{
        margin-left: 70px;
        color: white;
    }
    
}

a:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

.edit{
    button{
        background-color: green;
        border: none;
        svg{
            height: 40px;
            width: 40px;
        }
    }
}

.delete{
    button{
        background-color: red;
        border: none;
        svg{
            height: 40px;
            width: 40px;
        }
    }

}

.titelAdminPage{
    position: absolute;
    left: 940px;
    background-color: #535865;
    color: white;
    padding: 10px;
    border-radius: 40px;

}

.titelAdminPageProduct{
    position: absolute;
    left: 900px;
    background-color: #535865;
    color: white;
    padding: 10px;
    border-radius: 40px;

}

form{
    position: relative;
    left: 540px;
    top: 190px;
    
    svg{
        fill: black;
        height: 40px;
        width: 40px;
    }
    
    max-width: 60%;
    
    
}

.tabelAdminPage{
    position: absolute;
    top: 150px;

}

.search{
    display: flex;
    align-items: center ;
    input{
        padding: 15px;
        width: 30%;
        border-radius: 30px;
    }
}

.productToevoegen{
    position: relative;
    left: 1300px;
    top: 160px;
    overflow-x: hidden ;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    
}

.productToevoegen:hover{
    background-color: #d5d5d5;
}

.productToevoegenForm{
    position: absolute;
    left: 45%;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.58);
    padding: 30px;
    border-radius: 20px;
    label{
        display: flex;
        flex-direction: column;
    }
}

.productToevoegenForm input{
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
}


.productToevoegenForm fieldset{
    border-radius: 10px;
}

.productToevoegenForm select{
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
}

.productToevoegenForm legend{
    background-color:#2c2f36;
    color: white;

    padding: 9px 9px 9px 5px;
    border-radius: 30px;
}

.productToevoegenForm .opslagCapaciteit{
    display: flex;
    gap: 40px;
}

.productToevoegenForm .algemeneinformatie{
    padding: 10px 40px 15px 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.productToevoegenForm .submit{
    background-color: #3dc33d;
}

.productToevoegenForm .submit:hover{
    cursor: pointer;
}



   
