

:root{
    --lichtblauw: #6495EDFF;
    --background: #3e3d3d;
}

*{
    font-family: "Roboto Light", sans-serif;


}

body{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

header {
    margin-bottom: 50px;
}

.shoppingBasket{
    position: fixed;
    top: 100px;
    right: 30px;
    background: var(--background);
    fill: white;
    padding: 10px;
    border-radius: 100px;
    z-index: 10;
    border: 1px solid white;
}

.shoppingBasket:hover{
    cursor: pointer;
}

/* Nav bruikbaar voor alle pagina's */
.mainNav{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;

    ul{
        display: flex;
        gap: 30px;
        list-style: none;

        li{
            a{
                color: white;
                text-decoration: none;
                font-weight: bold;
                font-size: 21px;
            }
        }
    }


}

/* Background image voor index / homepage pagina  */
.intro{
    background-image: url("../images/background-recentephone/background-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center ;
    margin-top: 0;
    padding: 15vw;
    color: white;

}





.filtrerenIndex{

    margin-right: auto;
    margin-left: auto;
    background-color: #3e3d3d;
    max-width: 700px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 1px 7px 1px rgba(100, 149, 237, 0.62);

    display: flex;
    label{
        color: white;
    }

    justify-content: space-around;
    align-items: baseline;

    input{
        border: none;
        background: #232323;
        border-radius: 30px;
        padding: 7px;
    }

    select{
        border: none;
        background: #232323;
        border-radius: 30px;
        padding: 7px;
        color: white;


    }

    option{
        color: white;
    }

    .search{
        position: relative;

        svg{
            position: absolute;
            left: -30px;
            top: 3px;
        }
    }


}



.nieuwephone{

    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    max-width: 1400px;
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 40px;
    position: relative;

    img{
        height: 250px;
        border-radius: 30px;
    }

    .checkOutNieuwePhone{

        position: absolute;
        top: -40px;
        font-size: 1.5rem;
        background-color: #6495EDFF;
        border-radius: 10px;
        padding: 5px;
        color: white;
        text-transform: uppercase;
    }


    button{
        align-self: center;
        padding: 25px 70px 25px 70px;
        position: relative;
        background-color: cornflowerblue;
        border: none;
        border-radius: 10px;
        transition: 0.3s;

        a{
            position: absolute;
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            padding: 14px 0 0 0;
            top: 0 ;
            bottom: 0;
            left: 0;
            right: 0;

        }


    }

    .infoPhone{
        display: flex;
       
       justify-content: space-between;
        box-sizing: border-box;
       

    }

    .extraInformatieRecentePhone{
        display: flex;
        flex-direction: column;
        overflow: visible;
        max-width: 250px;

    }

}

.trifold:hover{
    background-color: #4c75b8;
}

.trifold:active{
    transform: scale(0.98);
    background-color: #3d5f95;
}


.productGrid{

    display: flex;
    justify-content: space-between;

    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;

    flex-wrap: wrap;
    position: relative;

    max-width: 1400px;
    gap: 100px;

    box-sizing: border-box;

}




.productKaart{

    img{
        height: 150px;
    }

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.46);
    flex-basis: calc(33.333% - 90px);
    height: 225px;

    display: flex;
    gap: 15px;
    position: relative;
    padding: 10px;
    transition: 0.2s;
}


.productKaart:hover{
    transform: translateY(-5%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.tekstinkaart{
    display: flex;
    flex-direction: column;

    p{
        margin: 0;
    }
}

.labelPromotie{
    background-color: #FF2B2B;
    rotate: 40deg;
    color: white;
    position: absolute;
    right: -50px;
    top: -20px;
    font-size: 25px;
    padding: 5px;
    border-radius: 30px;
}

.promotie{
    color: green;
    font-size: 1.5em;
}

.productKaart .kopen{
    position: absolute;
    width: 30%;
    right: 15px;
    bottom: 20px;
    padding: 10px;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #1e7f43;
    border: none;
    border-radius: 15px;
    color: white;
    transition: 0.2s;
}

.productKaart .details{
    position: absolute;
    width: 60%;
    bottom: 20px;
    padding: 15px;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #608fe3;
    border: none;
    border-radius: 15px;
    color: white;
    transition: 0.2s;
}

.kopen:hover{
    transform: translateY(-5%);
    background-color: #186534;
}

.details:hover{
    transform: translateY(-5%);
    background-color: #4c75b8;
}

.kopen:active{
    background-color: #114a25;
    transform: scale(0.98);
}

.details:active{
    transform: scale(0.98);
    background-color: #3d5f95;
}


.productKaart button:hover{
    cursor: pointer;
}

.paginatie{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10%;
    margin-top: 70px;
    margin-left:0;
    padding: 0;

    li{
        background-color: var(--background);
        color: white;
        padding: 25px;
        border-radius: 60px;
        border: 2px solid var(--background);
    }

    li:hover{
        background-color: #232323;
        cursor: pointer;
    }



}

#een{
    background-color: var(--lichtblauw);
}

main .recentereview{

    display: flex;
    gap: 24px;
    overflow-x: scroll;
    align-items: center;
    height: 350px;
    background-color:  #3e3d3d;
    position: relative;
    margin-top: 40px;


    .reviewklant{

        display: flex;
        flex-direction: column;

        flex: 0 0 400px;         /*  shrink 0, grow 0, base 320px */
        
        height: 200px;
        background-color: #fff;
        margin-left: 40px;
        margin-right: 40px;
        box-sizing: border-box;
        word-wrap: break-word;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.46);
        padding: 10px;

        h4{
            margin-top: 0;
        }

        transition: 0.3s;


    }

    .reviewklant:hover{
        transform: scale(105%);
        box-shadow: 7px 7px 1px rgba(100, 149, 237, 0.62);
    }
}




footer{
    background-color: #1E1E1E;
    height: 1500px;
    color: white;
    padding: 50px;
    text-align: center;

    .footerMainList{
        display: flex;
        list-style: none;
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        padding: 0;
        justify-content: space-between;
        align-items: center;

    }

    .subList{

        list-style: none;
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 150px;
        padding: 0;

        li{
            padding: 25px;
        }


    }


}


/* -------DEEL VOOR SUBPAGINA ------------ */

.subpaginaMain{
    margin-top: 200px;
}

.mainSectionPhone{
    display: flex;
    justify-content: center;

    border: 1px solid black;
    max-width: fit-content;
    margin: 0 auto 0 auto;
    padding: 50px;
    
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.checkout{
    position: absolute;
    right: 50px;
    text-align: center;
    padding: 30px;
    border: 3px solid var(--background);
    
    .checkThisOut{
        position: absolute;
        top: -35px;
        left: 15px;
        background-color: var(--lichtblauw);
        padding: 10px;
        color: white;
        border-radius: 40px;
        text-transform: uppercase;
    }
    
    a{
        color: black;
    }
    
    img{
        height: 150px;
    }
}



.groteAfbeeldingPhone{
    height: 350px;
    margin-bottom: 50px;
}

.alternatieveBeelden{
    display: flex;
    gap: 20px;
    justify-content: center;
    

    img{
        height: 150px;
        box-shadow: 1px 1px 10px black;
        transition: 0.2s;
    }
    
    img:hover{
        transform: scale(1.1);
        
    }
}

.afbeeldingVoorTitelPhone{
    display: flex;
    flex-direction: column;
    margin-right: 100px;

}

.karakteristiekenVoorPhone{
    display: flex;
    flex-direction: column;

    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .stockage{
        display: flex;

        gap: 30px;

    }

    svg{
        position: relative;
        top: 7px;
    }

    select{
        padding: 10px;
    }




}

.extraAfbeeldingen{
    box-sizing: border-box;
    margin-top: 100px ;
    margin-left: 100px;
    margin-right: 100px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    img{
        height: 300px;
    }
    overflow: scroll    ;
    overflow-y: hidden;
}

.prijs{
    font-size: 1.6em;
}



.buttonAankoop{

    display: flex;
    gap: 15px;
    margin-top: 150px;
    margin-bottom: 15px;

    button{
        padding: 15px;
        position: relative;
    }

    .mand{
        background-color: var(--lichtblauw);
        color: white;
        text-transform: uppercase;
        font-size: 1.2rem;
        border: none;
        border-radius: 15px;
        transition: 0.1s;
    }

    .phoneKopen{
        background-color: #1e7f43;
        color: white;
        text-transform: uppercase;
        font-size: 1.2rem;
        border: none;
        border-radius: 15px;
        width: 100px;
        transition: 0.1s;


        svg{
            position: absolute;
            left: 35px;
            top: 10px;
        }
    }


}

.ophalenWinkel{
    padding: 15px;
    font-size: 1.2rem  ;
    background-color: white;
    border-radius: 10px;
    border: 2px solid var(--lichtblauw);
    transition: 0.1s;
}

.mand, .phoneKopen, .ophalenWinkel:hover{
    cursor: pointer;


}

.mand:hover{
    background-color: #4c75b8  ;
}

.mand:active{
    transform: scale(0.98);
    background-color: #3d5f95;
}

.phoneKopen:hover{
    background-color: #186534 ;

}

.phoneKopen:active{
    transform: scale(0.98);
    background-color: #114a25 ;
}

.ophalenWinkel:active{
    transform: scale(0.98);
    background-color: #d8d8d8;
}



.algemeneInfoVoorPhone{

    max-width: 60%;
    border-bottom: 1px solid black;
    margin: 100px auto 50px auto;
    z-index: 1;

    ul{
        display: flex;
        list-style: none;
        flex-basis: 60%;
        justify-content: space-around ;


    }



}

.algemeneInfoVoorPhone ul li a{
    text-decoration: none;
    padding: 8px;
    background-color: var(--background);
    color: white;
    text-transform: uppercase;
    border-radius: 90px;
}

.algemeneInfoVoorPhoneContainer{

    position: relative;

    .algemeen{
        height: 400px;
        position: relative;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.62), 7px 7px 1px rgba(100, 149, 237, 0.62) ;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 60px;

    }

    h2{
        margin-left: 15%;
    }

    .algemeneInfoVoorPhone{
        position:sticky;
        top: 100px;
        bottom: 0;
    }
}

.algemeenArticleContainer{
    display: flex;
    justify-content: center;
    gap: 25%;

}

.tekstInAlgemeneContainer{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    max-width: 300px;
}

.reviewklantVoorPhone{
 padding: 10px;
}

.reviewInReviewContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 210px;
    max-width: 800px;


}
.reviewklantVoorPhone{

    flex-basis: calc(45% - 100px);

 }

.tableInAlgemeneContainer{

    *{
        border-collapse: collapse;
    }

    td{
        padding: 10px 100px 10px 50px;
    }

    tr:nth-child(even){
        background-color: rgba(189, 189, 189, 0.6);
    }
}


@media screen and (max-width: 1668px){
    .checkout{
        display: none;
    }
}

@media screen and (max-width: 900px){
    .mainSectionPhone{
        display: flex;
        flex-direction: column;
        align-items: center;

        .groteAfbeeldingPhone{
            height: 350px;
            max-width: 280px;
        }

        .buttonAankoop{
            margin-top: 50px;
        }

        .afbeeldingVoorTitelPhone{
            
            margin-right: 0;

        }
    }
}

@media screen and (max-width: 1439px) {
    .infoPhone{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
        text-align: center;
        margin: auto;
        gap: 0;


    }

    .nieuwephone{
        width: 600px;
    }

    .productKaart{
       
        flex-basis:calc(49% - 160px) ;
        justify-content: space-between;
    }
    
    .productGrid{
        justify-content: center;
    }

}



@media screen and (max-width: 850px) {

    .productKaart {

        flex-basis: calc(99% - 160px);
        justify-content: flex-start;
    }
    
    .paginatie{
        gap: 10px;
        
        li{
            padding: 15px;
        }
    }
    

}


@media screen and (max-width: 700px) {

    
    .extraAfbeeldingen{
        img{
            height: 250px;
        }
    }
    
    .algemeneInfoVoorPhone{

        
       border: none;
        margin: 100px auto 50px auto;
        z-index: 1;
        position: static;

        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding:0;


        }
        

    }

    .algemeneInfoVoorPhoneContainer{

        
        .algemeneInfoVoorPhone{
            position: static;
            top: 100px;
            bottom: 0;
        }
    }

    .algemeneInfoVoorPhone ul li a{
        text-decoration: none;
        padding: 8px;
        background-color: var(--background);
        color: white;
        text-transform: uppercase;
        border-radius: 90px;
    }
    
    
    
    
}

@media screen and (max-width: 620px) {
   

   .algemeneInfoVoorPhoneContainer{
       height: 2000px;
   }

    .algemeneInfoVoorPhoneContainer:not(.algemeneInfoVoorPhone) .algemeen {
        
        
        padding: 10px;
        height: fit-content;
        max-width: 90%;
        margin: 0 auto 100px auto;

        background-color: white;
    }
    
    .algemeenArticleContainer{
        flex-direction: column;
        justify-content: center;
    }

    .reviewklantVoorPhone{
        padding: 10px;
    }

    .reviewInReviewContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        max-width: 800px;


    }
    .reviewklantVoorPhone{

        flex-basis: calc(99% - 100px);

    }


    .tableInAlgemeneContainer{

        *{
            border-collapse: collapse;
        }

        td{
            padding: 10px 90% 10px 50px;
        }

        tr:nth-child(even){
            background-color: rgba(189, 189, 189, 0.6);
        }
    }
    
   
   
    .filtrerenIndex{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 40%;
        
        #prijsRange{
            width: 100%;
        }
        
        #labelPrijsRange{
            text-align: center;
        }
        
        .search{
            #search{
                width: 100%;
            }
            svg{
                position: absolute;
                left: 10px;
            }
        }
        
        #merk{
            width: 100%;
        }
        
        #labelMerk{
            text-align: center;
        }
    }

    .checkOutNieuwePhone{
        font-size: 10px ;
    }
    
    .infoPhone{
        
        
        

        
        img{
            height: 150px;
            width: 300px;
        }
        
        .extraInformatieRecentePhone{
            font-size: 0.7rem;
            
            ul{
                list-style: none;
                padding: 0;
            }
        }


    }

    .nieuwephone{
        width: 90%;
        padding: 35px 9px 9px;
    }
    
    
    
    
}

@media screen and (max-width: 580px) {
    .extraAfbeeldingen{
        img{
            height: 200px;
        }
    }
}

@media screen and (max-width: 500px) {
    .extraAfbeeldingen{
        img{
            height: 150px;
            
        }

        margin: 10px 10px 10px 10px;
    }
    
    .mainNav{
        
        position: static;
        margin: 0;
        ul{
            flex-direction: column;
            align-items: center;
            padding: 0;

        }
        
        header{
            margin: 0;
        }
    }
}

@media screen and (max-width: 444px) {
    
    .productGrid {
        justify-content: center;
    }
    
    .productKaart {
        flex-basis: calc(80%);
        height: 300px;
        
        img{
            height: 150px;
        }
    }
    
    .labelPromotie{
        rotate: 0deg;
        top: -50px;
        left: 150px;
    }
    
    .reviewklant{
        flex: 0 0 250px;         /*  shrink 0, grow 0, base 320px */
        max-width: 280px;
    }
    
}

@media screen and (max-width: 367px) {
    .infoPhone{
        img{
            width: 250px;
            height: 140px;
        }
    }
}