
*{
    font-family: "Roboto Light", sans-serif;


}

body{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

header {
    background-color: red;

    margin-bottom: 50px;
}

nav{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
    margin-bottom: 0;


    ul{
        display: flex;
        gap: 20px;
        list-style: none;

        li{
            a{
                color: white;
                text-decoration: none;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }


}

.intro{
    background-image: url("../images/background-recentephone/001-Introducing-Galaxy-Z-TriFold-The-Shape-of-Whats-Next-in-Mobile-Innovaion-Newsbody.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center ;
    margin-top: 0;
    padding: 15vw;
    color: white;
}


header article {
    margin-top: 100px;
    background-color: pink;
    padding: 100px;
}



.filtreren{

    margin-right: auto;
    margin-left: auto;
    background-color: #3e3d3d;
    max-width: 700px;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 1px 7px 1px rgba(100, 149, 237, 0.62);

    display: flex;
    label{
        color: white;
    }

    justify-content: space-around;
    align-items: baseline;

    input{
        border: none;
        background: #232323;
        border-radius: 30px;
        padding: 7px;
    }

    select{
        border: none;
        background: #232323;
        border-radius: 30px;
        padding: 7px;
        color: white;


    }

    option{
        color: white;
    }


}


.search{
    position: relative;

    svg{
        position: absolute;
        left: -30px;
        top: 3px;
    }
}


.nieuwephone{

    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    max-width: 1400px;
    margin-bottom: 50px;
    img{
        height: 250px;
    }



    button{
        align-self: center;
        padding: 25px 70px 25px 70px;
        position: relative;
        background-color: cornflowerblue;
        border: none;
        border-radius: 10px;
        a{
            position: absolute;
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            top: 15px;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

}

.infoPhone{
    display: flex;
    justify-content: center;
    gap: 50px;
    box-sizing: border-box;
    align-items: flex-start;
   
}

.extraInformatieRecentePhone{
    display: flex;
    flex-direction: column;
    overflow: visible;
    max-width: 250px;

    ul{

    }
  
}








main .productGrid{

    display: flex;
    justify-content: space-between;

    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;

    flex-wrap: wrap;
    position: relative;

    max-width: 1200px;
    gap: 100px;

    box-sizing: border-box;


}

.productGrid article{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.46);
    flex-basis: calc(33.333% - 100px);
    height: 300px;
    width: 400px;
}

.productKaart{

    img{
        height: 150px;
    }

    display: flex;
    gap: 15px;
    position: relative;
    padding: 10px;
    transition: 0.2s;
}

.productKaart:hover{
    transform: translateY(-5%);
}

.tekstinkaart{
    display: flex;
    flex-direction: column;
}


.productKaart .kopen{
    position: absolute;
    width: 30%;
    right: 15px;
    bottom: 20px;
    padding: 15px;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #1e7f43;
    border: none;
    border-radius: 15px;
    color: white;
}

.productKaart .details{
    position: absolute;
    width: 60%;
    bottom: 20px;
    padding: 15px;
    font-size: 17px;
    text-transform: uppercase;
    background-color: cornflowerblue;
    border: none;
    border-radius: 15px;
    color: white;
}
.productKaart button:hover{
    cursor: pointer;
}

main .recentereview{
    margin-top: 40px;
    background-color: darkcyan;
    position: relative ;
    height: 500px;
    display: flex;
    gap: 500px;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;

}


.reviewklant{
    display: flex;
    flex-direction: column;

    height: 200px;
    padding: 10px 400px 10px 10px;
    background-color: cornflowerblue;
}

footer{
    background-color: darkkhaki;
    height: 1500px;


}